allow_spectators: 0
animals_enabled: 1
cheat_notification: 1
cheats_enabled: 0
colored_chat: 1
custom_random_map_file: ''
custom_random_map_file_crc: 0
custom_random_map_scenario_file: ''
custom_scenario_or_campaign_file: ''
datasets:
- 0
- 1
difficulty: 4
ending_age: 2
fog_of_war: 1
full_tech_tree_enabled: 0
game_speed: 1.5
game_title: Squisher's Game
game_type: 0
is_ranked: 1
lobby_visibility: 0
map_id: 60
map_size: 0
modded_dataset_title: ''
modded_dataset_workshop_id: 0
multiplayer: 1
num_players: 2
number_of_starting_units: 0
players:
- ai_base_name: ''
  ai_civ_name_idx: 0
  civ: 10
  data_crc: 4238682625
  humanity: 2
  mp_version: 16755
  name: Squisher
  player_index: 1
  scenario_index: 1613
  steam_id: 76561198045460446
  team: 0
  unknown1: 1616
  unknown_name: ''
- ai_base_name: ''
  ai_civ_name_idx: 0
  civ: 18
  data_crc: 4238682625
  humanity: 2
  mp_version: 16755
  name: punkkiri
  player_index: 2
  scenario_index: 1600
  steam_id: 76561198062098201
  team: 0
  unknown1: 1600
  unknown_name: ''
pop_limit: 200
predators_enabled: 1
randomize_positions: 0
record_game_enabled: 1
reveal_map: 25
speed_locked: 0
starting_age: 0
starting_resources: 9
team_bonus_disabled: 0
teams_locked: 1
trading_enabled: 1
treaty_length: 0
unknown1: 0
unknown2: 0
unknown3: 167503724544
unknown4: 856487217
unknown_string1: ''
version: 1006.0
victory_type: 0
