allow_spectators: 0
animals_enabled: 1
cheat_notification: 1
cheats_enabled: 0
colored_chat: 1
custom_random_map_file: ''
custom_random_map_file_crc: 0
custom_random_map_scenario_file: ''
custom_scenario_or_campaign_file: ''
datasets:
- 0
- 1
difficulty: 0
ending_age: 6
fog_of_war: 1
full_tech_tree_enabled: 0
game_speed: 2.0
game_title: fthtmn's Game
game_type: 2
is_ranked: 1
lobby_visibility: 0
map_id: 31
map_size: 5
modded_dataset_title: ''
modded_dataset_workshop_id: 0
multiplayer: 1
num_players: 6
number_of_starting_units: 0
players:
- ai_base_name: ''
  ai_civ_name_idx: 0
  civ: 14
  data_crc: 4238682626
  humanity: 2
  mp_version: 16755
  name: fthtmn
  player_index: 1
  scenario_index: 1600
  steam_id: 76561199048671227
  team: 3
  unknown1: 1616
  unknown_name: ''
- ai_base_name: ''
  ai_civ_name_idx: 0
  civ: 18
  data_crc: 4238682626
  humanity: 2
  mp_version: 16755
  name: HAN
  player_index: 2
  scenario_index: 1600
  steam_id: 76561199852487854
  team: 3
  unknown1: 1584
  unknown_name: ''
- ai_base_name: ''
  ai_civ_name_idx: 0
  civ: 18
  data_crc: 4238682627
  humanity: 2
  mp_version: 16755
  name: strikeman
  player_index: 3
  scenario_index: 1586
  steam_id: 76561199040209469
  team: 3
  unknown1: 1600
  unknown_name: ''
- ai_base_name: ''
  ai_civ_name_idx: 0
  civ: 14
  data_crc: 4238682627
  humanity: 2
  mp_version: 16755
  name: mefe
  player_index: 4
  scenario_index: 1600
  steam_id: 76561199059431007
  team: 3
  unknown1: 1600
  unknown_name: ''
- ai_base_name: ''
  ai_civ_name_idx: 0
  civ: 13
  data_crc: 4238682626
  humanity: 2
  mp_version: 16755
  name: yolcu
  player_index: 5
  scenario_index: 1600
  steam_id: 76561198864096692
  team: 3
  unknown1: 1600
  unknown_name: ''
- ai_base_name: ''
  ai_civ_name_idx: 0
  civ: 13
  data_crc: 4238682627
  humanity: 2
  mp_version: 16755
  name: -- X --
  player_index: 6
  scenario_index: 1600
  steam_id: 76561199040359225
  team: 3
  unknown1: 1600
  unknown_name: ''
pop_limit: 500
predators_enabled: 1
randomize_positions: 0
record_game_enabled: 1
reveal_map: 31
speed_locked: 1
starting_age: 0
starting_resources: 1
team_bonus_disabled: 0
teams_locked: 1
trading_enabled: 1
treaty_length: 0
unknown1: 0
unknown2: 0
unknown3: 712964571136
unknown4: 1801162
unknown_string1: ''
version: 1006.0
victory_type: 0
